<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Promo</title>
</head>
<body>
<h1>Create a Promo</h1>
<p><a href="/promo">All Promotions</a></p>
<p th:text="${message}"></p>
<form th:action="@{/promo/create}" th:object="${promo}" method="post">
    <table>
        <tr>
            <td>Title: </td>
            <td><input type="text" th:field="*{title}" required placeholder="Enter title"/></td>
        </tr>
        <tr>
            <td>Start Date: </td>
            <td>
                <input type="date" th:field="*{startDate}" required />
                <div th:if="${errorStartDate}" style="color:red;">
                    <span th:text="${errorStartDate}">Error message</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>End Date: </td>
            <td>
                <input type="date" th:field="*{endDate}" required />
                <div th:if="${errorEndDate}" style="color:red;">
                    <span th:text="${errorEndDate}">Error message</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>Discount: </td>
            <td><input type="number" th:field="*{discount}" required min="10000"/></td>
        </tr>
        <tr>
            <td>Details: </td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Promo"></td>
        </tr>
    </table>
</form>
</body>
</html>
