<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Promo</title>
</head>
<body>
<h1>Create a Promo</h1>
<p><a href="/promo">All Promotions</a></p>

<form th:action="@{/promo/create}" th:object="${promo}" method="post">
    <table>
        <tr>
            <td>Title: </td>
            <td><input type="text" th:field="*{title}" required placeholder="Enter title"/></td>
        </tr>
        <tr>
            <td>Start Date (dd/mm/yyyy): </td>
            <td><input type="text" th:field="*{startDate}" required placeholder="DD/MM/YYYY" pattern="\d{2}/\d{2}/\d{4}"/></td>
        </tr>
        <tr>
            <td>End Date (dd/mm/yyyy): </td>
            <td><input type="text" th:field="*{endDate}" required placeholder="DD/MM/YYYY" pattern="\d{2}/\d{2}/\d{4}"/></td>
        </tr>
        <tr>
            <td>Discount: </td>
            <td><input type="number" th:field="*{discount}" required min="10000"/></td>
        </tr>
        <tr>
            <td>Details: </td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Promo"></td>
        </tr>
    </table>
</form>
</body>
</html>
