<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update customer</h1>
<p>
    <a href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customers/update}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Address: </td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td> <label for="province">Province</label></td>
            <td>
                <select id="province" th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>
